.container_1{
    position: relative;
    background-color: #882BEC;
    height: 50vw;
    color: white;
}
.gebeya{
    position: absolute;
    font-size: 8.4vw;
    font-family: 'Alfa Slab One', serif;
    top: 6.7vw;
    left: 5.1vw;
}
.feature1{
    position: absolute;
    border-radius: 100%;
    top: 5.1vw;
    left: 39.5vw;
}
.feature1 img{
    width: 19.525vw;
    height: 19.525vw;
}
.moto{
    position: absolute;
    width: 27vw;
    top: 7.5vw;
    left: 65.5vw;
    font-size: 1.3vw;
}
.shop{
    position: absolute;
    top: 18vw;
    left: 65.5vw;
    font-size: 8.4vw;
    font-family: 'Alfa Slab One', serif;
}
.feature2{
    position: absolute;
    border-radius: 100%;
    top: 23.4vw;
    left:12.2vw;
}
.feature2 img{
    width: 16.9vw;
    height: 16.9vw;
}
.explore_button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24vw;
    height: 4.4vw;
    background-color: #FEA301;
    color: #222222;
    font-size: 1.6vw;
    font-weight: 500;
    top: 34.4vw;
    left: 37.2vw;
    border-radius: 8px;
    cursor: pointer;
}
.feature3{
    position: absolute;
    border-radius: 100%;
    top: 31.5vw;
    left: 68.8vw;
}
.feature3 img{
    width: 14.6vw;
    height: 14.6vw;
}
@media (max-width:751px) {
    .container_1{
        height: 86.5vw;
    }
    .gebeya {
        visibility: hidden;
        font-size: 7.4vw;
        top: 7.3vw;
        left: 6vw;
      }
      .gebeya::before {
        content: "TIMBU";
        visibility: visible;
      }
      .feature1{
        width: 120px;
        height: 120px;
        top: 6vw;
        left: 37vw;
    }
    .feature1 img{
        width: 28vw;
        height: 28vw;
    }
    .moto{
        width: 76vw;
        top: 45.3vw;
        left: 10vw;
        font-size: 2.8vw;
        text-align: center;
    }
    .shop{
        top: 27vw;
        left: 69.2vw;
        font-size: 7.4vw;
    }
    .feature2,.feature3{
        display: none;
    }
    .explore_button{
        width: 85.5vw;
        height: 10.3vw;
        color: white;
        font-size: 3.7vw;
        top: 65vw;
        left: 5vw;
    }
}
