.container_1{
    position: relative;
    background-color: #882BEC;
    height: 769px;
    color: white;
}
.gebeya{
    position: absolute;
    font-size: 128px;
    font-family: 'Alfa Slab One', serif;
    top: 103px;
    left: 80px;
}
.feature1{
    position: absolute;
    border-radius: 100%;
    top: 78px;
    left: 606px;
}
.moto{
    position: absolute;
    width: 435px;
    top: 116px;
    left: 997px;
    font-size: 20px;
}
.shop{
    position: absolute;
    top: 276px;
    left: 1007px;
    font-size: 128px;
    font-family: 'Alfa Slab One', serif;
}
.feature2{
    position: absolute;
    border-radius: 100%;
    top: 358px;
    left: 188px;
}
.explore_button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 366px;
    height: 66px;
    background-color: #FEA301;
    color: #222222;
    font-size: 24px;
    font-weight: 500;
    top: 528px;
    left: 573px;
    border-radius: 8px;
    cursor: pointer;
}
.feature3{
    position: absolute;
    border-radius: 100%;
    top: 482px;
    left: 1057px;
}
@media (max-width:431px) {
    .container_1{
        height: 373px;
    }
    .gebeya {
        visibility: hidden;
        font-size: 32px;
        top: 30px;
        left: 24px;
      }
      .gebeya::before {
        content: "TIMBU";
        visibility: visible;
      }
      .feature1{
        width: 120px;
        height: 120px;
        top: 26px;
        left: 157px;
    }
    .feature1 img{
        width: 120px;
        height: 120px;
    }
    .moto{
        width: 337px;
        top: 195px;
        left: 44px;
        font-size: 12px;
        text-align: center;
    }
    .shop{
        top: 115px;
        left: 299px;
        font-size: 32px;
    }
    .feature2,.feature3{
        display: none;
    }
    .explore_button{
        height: 44px;
        color: white;
        font-size: 16px;
        top: 280px;
        left: 24px;
    }
}
