.summer_container{
    position: relative;
    margin-top: 8vw;
    margin-bottom: 6.6vw;
    height:32.5vw;
    background-color: #D0D0D0;
    background-image: url('./assets/background.png');
    background-position: right;
    background-repeat: no-repeat;
    border-radius: 24px;
}
.desc_bg{
    display: flex;
    justify-content: space-between;
}
.desc{
    margin: 2.6vw;
    color: #9847EF;
}
.desc h2{
    width: 29vw;
    font-weight: 600;
    font-size: 2.6vw;

}
.desc p{
    width: 38vw;
    margin-top: 1.1vw;
    font-size: 1.56vw;
}
.explore_now{
    position: absolute;
    bottom: 0;
    line-height: 4vw;
    text-align: center;
    width: 18.2vw;
    height: 4vw;
    border-radius: 10px;
    color: white;
    background-color: #FEA301;
    font-weight: 500;
    font-size: 1.56vw;
    margin-bottom: 3.4vw;
    cursor: pointer;
}
.dot p{
    position: absolute;
    border-radius: 100%;
}
.dot1{
    width: 1.5vw;
    height: 1.5vw;
    background-color: #882BEC7D;
    top: 23vw;
    left: 28vw;
}
.dot2{
    width: 1.5vw;
    height: 1.5vw;
    background-color: #882BEC7D;
    top: 29.7vw;
    left: 52.4vw;
}
.dot3{
    width: 1.5vw;
    height: 1.5vw;
    background-color: #FFD700;
    top: 2.4vw;
    left: 39vw;
}
.dot4{
    width: 3.7vw;
    height: 3.7vw;
    background-color: #FFD700;
    top: 21.5vw;
    left: 44.2vw;
}
.dot5{
    width: 2.6vw;
    height: 2.6vw;
    background-color: #A35CF0;
    top: 28.5vw;
    left: 37.2vw;
}
.dot6{
    width: 2.6vw;
    height: 2.6vw;
    background-color: #A35CF0;
    top: 9.3vw;
    left: 44.8vw;
}
.dot7{
    width: 2.6vw;
    height: 2.6vw;
    background-color: #A35CF0;
    top: 6.6vw;
    left: 58.4vw;
}
.dot8{
    width: 2.6vw;
    height: 2.6vw;
    background-color: #CAD3B8;
    top: 2.5vw;
    left: 52vw;
}
.dot9{
    width: 2.6vw;
    height: 2.6vw;
    background-color: #CAD3B8;
    top: 16vw;
    left: 50vw;
}

@media (max-width:751px) {
    .summer_container{
        margin-top: 3.5vw;
        margin-bottom: 5.6vw;
        height: 62.7vw;
        background-image: none;
        border-radius: 8px;
    }
    .desc{
        margin: 3.5vw;
    }
    .desc h2{
        width: 47vw;
        font-size: 4.2vw;
    }
    .desc p{
        width: 72vw;
        margin-top: 1.75vw;
        font-size: 3.2vw;
    }
    .explore_now{
        line-height: 10.2vw;
        width: 77.5vw;
        height: 10.2vw;
        border-radius: 8px;
        font-size: 3.7vw;
        margin-bottom: 5.6vw;
    }
    .dot1{
        width: 2vw;
        height: 2vw;
        background-color: #882BEC7D;
        top: 33.8vw;
        left: 34.5vw;
    }
    .dot2{
        width: 4.2vw;
        height: 4.2vw;
        background-color: #A35CF0;
        top: 40vw;
        left: 42.9vw;
    }
    .dot3{
        width: 4vw;
        height: 4vw;
        background-color: #882BECF2;
        top: 12vw;
        left: 56.5vw;
    }
    .dot4{
        width: 5.8vw;
        height: 5.8vw;
        background-color: #9847EF;
        top: 36vw;
        left: 59.5vw;
    }
    .dot5{
        width: 2vw;
        height: 2vw;
        background-color: #882BECC4;
        top: 44.8vw;
        left: 72vw;
    }
    .dot6{
        width: 4vw;
        height: 4vw;
        background-color: #CAD3B8;
        top: 3vw;
        left: 69.9vw;
    }
    .dot7{
        width: 4.2vw;
        height: 4.2vw;
        background-color: #882BECC4;
        top: 11.1vw;
        left: 79vw;
    }
    .dot8{
        display: none;
    }
    .dot9{
        display: none;
    }
}