.add_to_cart{
    display: flex;
    padding: 24px 0;
    padding-left: 8px;
    gap: 190px;
}
.share{
    color: #1E1E1E;
    font-weight: 300;
    font-size: 18px;
}
.share_icon{
    display: flex;
    gap: 24px;
    padding-top: 8px;
}
.share_icon *{
    cursor: pointer;
}
.pickup{
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
}
.add_buy{
    display: flex;
    font-size: 24px;
    font-weight: 500;
    gap: 16px;
}
.add_to{
    width: 226px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 8px;
    border: 2px solid #222222;
}
.buy_now{
    width: 226px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FEA301;
    color: white;
    border-radius: 8px;
}
.pickup .pick_pay{
    font-size: 18px;
    font-weight: 300;
    color: #006200;
}

@media (max-width:431px) {
    .add_to_cart{
        flex-direction: column-reverse;
        padding-left: 0;
        padding-right: 12px;
        gap: 40px;
    }
    .pickup{
        flex-direction: column-reverse;
        gap: 32px;
    }
    .add_buy{
        flex-direction: column;
        font-size: 16px;
        gap: 19px;
    }
    .add_to{
        width: 330px;
        height: 53px;
        gap: 16px;
    }
    .buy_now{
        width: 330px;
        height: 53px;
    }
    .pickup .pick_pay{
        font-size: 14px;
    }
    .share{
        display: flex;
        justify-content: center;
    }
    .share_icon{
        justify-content: center;
        gap: 16px;
    }
}