.container_checkout{
    background-color: #F2F2F2;
    padding: 90px 80px 160px 80px;
    color: #1E1E1E;
}

@media (max-width: 1230px) {
    .giving_border{
        border: 2px solid #C1C1C1;
    }
}

@media (max-width:600px) {
    .container_checkout{
        padding: 12px;
        padding-bottom: 64px;
    }
    .giving_border{
        border: 2px solid #C1C1C1;
    }
}