.container_checkout{
    background-color: #F2F2F2;
    padding: 90px 80px 160px 80px;
    color: #1E1E1E;
}

@media (max-width:431px) {
    .container_checkout{
        padding: 24px;
        padding-bottom: 64px;
    }
    .giving_border{
        border: 2px solid #C1C1C1;
        border-radius: 8px;
    }
}