.container{
    position: relative;
    margin: 24px;
    height: 46.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.position_menu{
    position: absolute;
    top: -10px;
    left: -24px;
    z-index: 2;
}
.position_menu_off{
    display: none;
}
.no_logo{
    display: none;
}
.menubar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menubar p{
    cursor: pointer;
    padding-right: 20px;
}
.register{
    display: flex;
    align-items: center;
    gap: 4px;
}
.register p{
    white-space: nowrap;
    padding-right: 0;
}
.selected{
    font-weight: 600;
    padding-left: 20px;
}
.more{
    display: flex;
    align-items: center;
    gap: 4px;
}
.more p{
    padding-right: 0;
}
.search{
    display: flex;
    border: 1px solid #C6C6C6;
    width: 275px;
    height: 40px;
    border-radius: 16px;
}
.search .space{
    display: flex;
    gap: 8px;
    padding-left: 8px;
    align-items: center;
}
.search .button{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #882BEC;
    width: 100%;
    border-radius:0 16px 16px 0;
    cursor: pointer;
}
.space input{
    border: none;
    outline: none;
}
.currency{
    display: flex;
    gap: 4px;
    align-items: center;
}
.cart{
    position: relative;
}
.cart_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 100%;
    background-color: #882BEC;
}
.cart_count{
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #FF0000;
    top: -2px;
    right: -2px;
    font-size: 10px;
}
.to_nullify{
    display: none;
}

.register:hover .not_hover{
    display: none;
}
.register .is_hover{
    display: none;
}
.register:hover .is_hover{
    display: block;
}
.register:hover .register_hover{
    background-color: white;
    width: 194px;
    display: block;
    border: 1px solid #C1C1C1;
}
.register_hover{
    display: none;
}
.register_hover p{
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 15px;
}
.register_hover hr{
    margin: 10px 0;
}
.register_hover_container{
    position: absolute;
    top: 40px;
    margin-top: -5px;
    z-index: 2;
    padding-top: 10px;
}
.more:hover .not_hover{
    display: none;
}
.more .is_hover{
    display: none;
}
.more:hover .is_hover{
    display: block;
}
.hover_output{
    display: none;
}
.more:hover .hover_output{
    background-color: white;
    width: 194px;
    display: block;
    border: 1px solid #C1C1C1;
}
.hover_output p{
    display: flex;
    align-items: center;
    padding: 0;
    padding-left: 15px;
}
.hover_output hr{
    margin: 10px 0;
}
.more_hover_container{
    position: absolute;
    top: 40px;
    margin-top: -5px;
    z-index: 2;
    padding-top: 10px;
}

.menu_mobile{
    display: none;
}

@media (max-width: 1201px) {
    .container{
        margin: 24px;
        height: 32px;
    }
    .menu_mobile{
        display: block;
    }
    .menubar{
        display: none;
    }
    .search{
        width: 230px;
        height: 32px;
        border-radius: 24px;
    }
    .space input{
        font-size: 16px;
        font-weight: 300;
    }
    .search .button{
        display: none;
    }
    .currency{
        display: none;
    }
    .cart_logo{
        width: 32px;
        height: 32px;
        background-color: #222222;
    }
    .cart_count{
        top: -3px;
        right: -3px;
        width: 14px;
        height: 14px;
    }
}

@media (max-width: 431px) {
    .search{
        width: 120px;
    }
}