.order_summary{
    background-color: white;
    border: 2px solid #C1C1C1;
    border-radius: 16px;
    height: 501px;
    min-width: 345px;
}
.order_summary p{
    font-size: 16px;
    font-weight: 500;
}
.order_summary h3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
}
hr{
    color: #C9C9C9;
}
.taxation{
    margin: 0 24px;
}
.order_description{
    display: flex;
    gap: 24px;
    margin-bottom: 24px;
}
.order_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #F2F2F2;
    border-radius: 8px;
}
.order_head h4{
    font-size: 22px;
    font-weight: 500;
}
.order_head p{
    color: #808080;
}
.price_tax{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.pricing{
    display: flex;
    justify-content: space-between;
}
.total{
    display: flex;
    justify-content: space-between;
    margin: 0 24px;
}
.place_order{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 53px;
    background-color: #FEA301;
    color: white;
    border-radius: 8px;
    margin: 24px 24px;
    cursor: pointer;
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
  }
  
  .popup-content {
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    width: 290px;
    max-width: 90%;
  }
  
  .close-btn {
    padding: 5px 20px;
    background-color: #fe3019;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .close-btn:hover {
    background-color: #c12214;
  }
  .non_popup{
    display: none;
  }

  @media (max-width: 1230px) {
    .order_summary{
        border: none;
        border-radius: 0;
        height: 100%;
    }
    .place_order{
        display: none;
    }
  }
  

@media (max-width:431px) {
    .order_summary{
        border: none;
        border-radius: 0;
        height: 344px;
        min-width: 230px;
    }
    .order_summary p{
        font-size: 14px;
    }
    .order_description{
        gap: 16px;
        margin-bottom: 30px;
    }
    .order_img{
        width: 80px;
        height: 80px;
    }
    .order_head h4{
        font-size: 18px;
    }
}